@page "/EInvoice/{Id:guid?}"
@using EInvoiceDemo.Client.Pages.Customer
@inherits GeneralComponent
@inject IGenericService<EInvoicesFilter, EInvoiceDto> einvoice
@inject IGenericService<CustomersFilter, CustomerDto> customers

<EditForm Model="dto">
    <DataAnnotationsValidator />
    <div class="col-md-12 my-1">
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Code</label>
            </div>
            <div class="col-md-5">
                <InputNumber class="form-control" @bind-Value="dto.EInvoiceCode" />
                <ValidationMessage For="@(() => dto.EInvoiceCode)" />
            </div>
            <div class="col-md my-auto">
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Type</label>
            </div>
            <div class="col-md-5">
                <Options T=EInvoiceTypeEnum @bind-Value=dto.EInvoiceType DisplayName=@nameof(dto.EInvoiceType) AsRadioButtons=true/>
            </div>
            <div class="col-md-3 my-auto">
                <ValidationMessage For="@(() => dto.EInvoiceType)" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Customer</label>
            </div>
            <div class="col-md-5">
                <Select AutoComplete="true" @bind-Value="dto.CustomerName" @bind-Key="dto.CustomerId" List="customersList" GetList="GetCustomers" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.CustomerName)" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Date</label>
            </div>
            <div class="col-md-5">
                <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="dto.DateTimeIssued" class="form-control" />
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.DateTimeIssued)" />
            </div>
        </div>
        <div class="card rounded-3 my-1">
            <div class="card-body">
                <div class="col-md-3 mb-1">
                    <Btn class="btn-violet" Text="Add Item" Icon="bi bi-check-circle"
                         ClickAction="@(() => ShowModal(
                            typeof(EInvoiceLine),
                            "EInvoice Line",
                            new ModalParameters()
                                .Add(nameof(EInvoiceLine.List), dto.EInvoiceLines)
                                .Add(nameof(EInvoiceLine.dto), new EInvoiceLineDto() { EInvoiceId = dto.EInvoiceId }),
                            async () => Calculate())
                            )" />
                </div>
                @if (!LoaderService.IsLoading)
                {
                    <TableWithPagination TType="EInvoiceLineDto" Model="lineFilter" WithPagination="false" Context="line" TableDesignType="TableWithPagination<EInvoiceLineDto>.TableDesign.List">
                        <CustomActions>
                            <Btn class="btn-sm btn-warning" Icon="bi bi-pencil-square"
                                 ClickAction="@(() => ShowModal(
                                    typeof(EInvoiceLine),
                                    "EInvoice Line",
                                    new ModalParameters()
                                    .Add(nameof(EInvoiceLine.List), dto.EInvoiceLines)
                                    .Add(nameof(EInvoiceLine.dto), (EInvoiceLineDto)line.Clone()),
                                    async () => Calculate())
                                    )" />
                        </CustomActions>
                    </TableWithPagination>
                }
            </div>
        </div>
        <div class="row my-1">
            <div class="col-md-2 my-auto">
                <label>Net Amount</label>
            </div>
            <div class="col-md-5 my-auto">
                <h5>@dto.NetAmount.ToString(2)</h5>
            </div>
            <div class="col-md my-auto">
                <ValidationMessage For="@(() => dto.NetAmount)" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center gap-2 flex-wrap">
        @if (Id.HasValue)
        {
            <Btn class="btn-info" Text="New" ClickAction="New" />
            <Btn class="btn-secondary" Text="Copy" ClickAction="Copy" />
            <Btn class="btn-danger" Text="Delete" ClickAction="Delete" />
        }
        <Btn class="btn-success" Text="Save" ValidateModel="true" ClickAction="HandleValidSubmit" CloseAfterSave="true"></Btn>
    </div>
</EditForm>
@code {
    [Parameter]
    public Guid? Id { get; set; }

    EInvoiceDto dto = new();
    EInvoiceLineFilter lineFilter = new();
    List<KeyValue>? customersList = new();
    List<KeyValue>? typesList = new();

    protected override async Task OnInitializedAsync()
    {        
        einvoice.Api = nameof(EInvoices);
        customers.Api = nameof(Customers);
        await GetEInvoice();
    }

    private async Task GetEInvoice()
    {
        if (!IsModal) HeaderService.ChangeHeaderAndTitle($"{(Id.HasValue ? "Edit" : "Add")} {nameof(EInvoice)}");
        LoaderService.ToggleLoader();
        if (Id.HasValue)
            dto = await einvoice.GetSingle(Id);
        else
        {
            dto.EInvoiceId = Guid.NewGuid();
            dto.EInvoiceCode = await einvoice.GetCode();
        }
        lineFilter.Items = dto.EInvoiceLines;
        LoaderService.ToggleLoader();
    }
    private async Task HandleValidSubmit()
    {
        HttpResponseMessage httpResponseMessage;
        if (!Id.HasValue)
        {
            httpResponseMessage = await einvoice.Create(dto);
            if (httpResponseMessage.IsSuccessStatusCode)
                Id = dto.EInvoiceId;
            // GoTo("EInvoice", "EInvoice ", true, dto.EInvoiceId);
        }
        else
            httpResponseMessage = await einvoice.Edit(dto);
        await ShowResultMessage(httpResponseMessage);
    }
    private async Task New()
    {
        Id = null;
        dto = new EInvoiceDto();
        await GetEInvoice();
    }
    private async Task Copy()
    {
        Id = null;
        await GetEInvoice();
        dto.EInvoiceLines.ForEach(c =>
            {
                c.EInvoiceId = dto.EInvoiceId;
                c.EInvoiceLineId = Guid.NewGuid();
                c.EInvoiceLineTaxes.ForEach(x =>
                    {
                        x.EInvoiceLineId = c.EInvoiceLineId;
                        x.EInvoiceLineTaxId = Guid.NewGuid();
                    });
            });
    }
    private async Task Delete()
    {
        if (await ShowDeleteConfirmation("EInvoice"))
        {
            var response = await einvoice.Delete(Id);
            if (response.IsSuccessStatusCode)
                GoTo("EInvoices");
            await ShowResultMessage(response);
        }
    }

    private async Task GetCustomers(string? filter)
        => customersList = await customers.GetKeyValue(filter);

    private void Calculate()
        => dto.NetAmount = dto.EInvoiceLines.Sum(c => c.ItemNetAmount) ?? 0;
}
