@page "/"
@inherits GeneralComponent
<PageTitle>Home</PageTitle>

<h1>E-Invoice</h1>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card rounded-3 shadow-box py-3 my-3" @onclick="@(()=>GoTo("Items", "Items"))">
            <div class="card-body text-center">
                <h1><i class="bi bi-diagram-3"></i></h1>
                <h3>Items</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card rounded-3 shadow-box py-3 my-3" @onclick="@(()=>GoTo("Customers", "Customers"))">
            <div class="card-body text-center">
                <h1><i class="bi bi-person-gear"></i></h1>
                <h3>Customers</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card rounded-3 shadow-box py-3 my-3" @onclick="@(()=>GoTo("EInvoiceTypes", "E-Invoice Types"))">
            <div class="card-body text-center">
                <h1><i class="bi bi-filetype-key"></i></h1>
                <h3>E-Invoice Type</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card rounded-3 shadow-box py-3 my-3" @onclick="@(()=>GoTo("Taxes", "Taxes"))">
            <div class="card-body text-center">
                <h1><i class="bi bi-tag"></i></h1>
                <h3>Taxes</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card rounded-3 shadow-box py-3 my-3" @onclick="@(()=>GoTo("EInvoices", "E-Invoices"))">
            <div class="card-body text-center">
                <h1><i class="bi bi-receipt"></i></h1>
                <h3>E-Invoices</h3>
            </div>
        </div>
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Layout.ToggleLoader();
    }
}
