@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis
@using System.Globalization
@typeparam T where T : struct, Enum
@inherits InputBase<T?>
@if (AsRadioButtons)
{
    <div class="rounded p-1 @CssClass">
        @if (ShowChoose)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="@DisplayName"
                       value="" checked="@(!Value.HasValue)" @onchange="ValueHasChanged" />
                <label class="form-check-label">None</label>
            </div>
        }
        @foreach (var item in Enum.GetValues<T>())
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="@DisplayName"
                       value="@item" checked="@(Value.Equals(item))" @onchange="ValueHasChanged" />
                <label class="form-check-label">@Enum.GetName(typeof(T), item)</label>
            </div>
        }
    </div>
}
else
{
    <select class="form-select @CssClass" value="@Value" name="@DisplayName" @onchange="ValueHasChanged">
        @if (ShowChoose)
        {
            <option value="">Select</option>
        }
        @foreach (var item in Enum.GetValues<T>())
        {
            <option value="@item">@Enum.GetName(typeof(T), item)</option>
        }
    </select>
}
@code {
    [Parameter]
    public bool AsRadioButtons { get; set; }

    [Parameter]
    public bool ShowChoose { get; set; }

    void ValueHasChanged(ChangeEventArgs args)
    {
        CurrentValue = args.Value.CastTo<string>().HasValue() ? Enum.Parse<T>(args.Value.ToString()) : null;
    }
    protected override bool TryParseValueFromString(string? value, out T? result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        if (value is not null)
        {
            if (Enum.TryParse<T>(value, true, out T parsedValue))
            {
                result = parsedValue;
            }
            else
            {
                result = null;
                validationErrorMessage = string.Format(CultureInfo.InvariantCulture, "Cannot asign value", DisplayName ?? FieldIdentifier.FieldName);
                return false;
            }
        }
        else
        {
            result = null;
        }
        validationErrorMessage = null;
        return true;
    }
}
